[project]
	description = A simple, lightweight Python dependency injection framework based on google-guice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Stanek (dstanek)
[access "refs/for/refs/*"]
	read = group user/David Stanek (dstanek)
	push = group user/David Stanek (dstanek)
	label-Code-Review = -2..+2 group user/David Stanek (dstanek)
	label-Verified = -1..+1 group user/David Stanek (dstanek)
	rebase = group user/David Stanek (dstanek)
	removeReviewer = group user/David Stanek (dstanek)
	submit = group user/David Stanek (dstanek)
[access "refs/heads/*"]
	read = group user/David Stanek (dstanek)
	create = group user/David Stanek (dstanek)
	push = +force group user/David Stanek (dstanek)
	pushMerge = group user/David Stanek (dstanek)
[access "refs/tags/*"]
	push = +force group user/David Stanek (dstanek)
	pushTag = group user/David Stanek (dstanek)
	pushSignedTag = group user/David Stanek (dstanek)
